*{
    box-sizing: border-box;
}
.context-C{
    background-color: #FFFFFF; 
    width: 29%; 
    margin: 60px 50px 30px 30px;
    border-radius: 0 50px 0 0;
	height: 500px; 
    position: relative; 
    float: left;
}
.tem,
.CI{
    text-align: center;
    background-color: #ADD8E6;
    font-size: 25px;
    font-weight: bold;
    width:50%;
    margin: auto;
    height:80px;
    margin-bottom: 10px;
    border-radius: 30px 30px 30px 30px;
    padding-top: 25px;
}
.PopContainer{
    background-color: #ADD8E6;
    width:50%;
    margin: auto;
    height:80px;
    margin-bottom: 10px;
    border-radius: 30px 30px 30px 30px;
    padding-top: 25px;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;

}
.iconContainer{
    text-align: center;
}
.wx{
    font-size: 25px;
    font-weight: bold;
}
.wxIcon{
    width:200px;
    height:200px;
    padding:15px;
}
.humidity{
    width: 50px;
    height: 50px;
}
.PoP{
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    
}

