.title-A{
    width: 90%;
    margin: 30px auto 0px auto;    
    padding: 0px 30px;
    height: 50px;
}
.div-A{
    width: 90%;
    margin: 0px auto;
    padding: 0px 30px;
    height: 600px;
}
.background-imgA{
    width: 85%;
    margin: 20px auto;
    padding: 0px 30px;
    height: 550px;
    position: fixed;
    opacity: 65%;
    z-index: -1;
}
.logo-divA{
    position: relative;
    float: left;
    width: 90px;
    height: 60px;
}
.logo-imgA{
    height: 50px;
    width: 80px;
}
.marquee-divA{
    width: 100%;
    position: relative;
    top: 15px;
    /* background-color: #808080;
    opacity: 80%; */
}
.context-A{
    /* border: #FFFFFF; 
    border-style: solid;  */
    width: 35%; 
    margin: 10px 30px 30px 0px;
	height: 500px;

    float: left;    
    
}
.bg-grayA{
    background-color: #808080;
    opacity: 80%; 
    width: 100%; 
    height: 25px;
}
.timedivA{
    width: 400px;
    height: 100px;
    position: relative;
    bottom: 50px;
    left: 75%;
}
#clockA{
    color:white;
    font: 1.5em sans-serif;     
    padding: 5px;    
    width:280px;    
  }
.timeA{
    color: white;
    font: 1em sans-serif;    
    position: relative;    
    right: 85px;
    font-weight: bold;
}
.weatherA{
    line-height: 0px; 
    color: #FFFFFF;
    position: relative;
    top: 20px;
}
#TWA{
    height: 550px;
}
#TWNameA{
    position: relative;
    top: 50px;
    left: 405px;
    font-weight: bold;     
    font-size: 30px;
}
.fontA{
    position: relative; 
    bottom: 25px;
}
.mark-imgA{
    height: 18px; 
    width: 20px;
}